.ButtonMain{
  background-color: #3D849F;
  color: #232B3B;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.ButtonMain:hover{
  background-color: #3d839fcb;
  transition: 0.5s;
}

.ButtonMain:active{
  background-color: #3d839fa2;
  transition: 0.5s;
}

.ButtonMain.button-center{
  margin: 2rem auto;
  text-align: center;
  display: block;
}

.light .ButtonMain{
  color: #fff;
}