.input-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputText, 
.textarea {  
  background-color: #D9D9D9;
  color: #000;
  width: 33rem;
  height: 44px;
  padding: 8px;
  border-radius: 5px;
  font-weight: 500;
}

.textarea{
  resize: none;
  height: 200px;
}


.inputText.CEP{
  width: 170px;
}

.input-dados{
  border: 1px solid #38768E;
  background-color: #232B3B;
  width: 700px;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
}

.color-text label,
.color-text input{
  color: #fff;
}



@media screen and (max-width: 1000px) {
  .inputText,
  .textarea {
    width: 50vw;
  }

  .inputText{
    height: 37px;
  }
}

@media screen and (max-width: 700px) {
  .inputText,
  .textarea {
    width: 70vw;
  }
}

@media screen and (max-width: 480px) {
  .inputText,
  .textarea {
    width: 80vw;
  }
}