.form-progress {
    width: 100%;
    height: 85vh;
    margin-bottom: 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #273145c4;
    padding: 1rem 4rem;
    border-radius: 10px;
    color: #fff;
}

.form-container .footer {
    margin: 0 auto;
}

.form-container .footer button {
    margin: 10px;
}

.form-container .header h1 {
    font-size: 25px;
}

.form-container .header p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 10px 0;
}

.progressbar {
    width: 100%;
    background-color: #fff;
    height: 5px;
    border-radius: 5px;
}

.progressbar .progress{
    background-color: #3D849F;
    height: 5px;
    border-radius: 5px;
}