.content-title{
  padding: 2rem;
}

.main-title{
  font-size: 30px;
  color: #3D849F;
}

.content-title hr {
  border: none;          
  border-top: 2px solid #3D849F; 
  background-color: #3D849F;     
  height: 2px;            
}

.title-mural{
  font-size: 20px;
  color: #FFF;
  font-weight: 800;
  text-transform: uppercase;
}

.light .main-title{
  color: #70dde9;
}

.light .title-mural{
  color: #000;
}

.light .content-title hr{
  border-top: 2px solid #70dde9; 
  background-color: #70dde9;     
}

@media screen and (max-width:500px) {
  
  .main-title{
    font-size: 24px;
  }
}
