.navbar .logo a{
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 2;
}

.navbar .logo .line {
  font-size: 45px;
  font-weight: 200;
}

.navbar .logo .text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
  max-width: 8ch;
}

@media screen and (max-width:500px) {
.logo img{
  width: 110px;
}

.navbar .logo .line {
  font-size: 30px;
}

.navbar .logo .text {
  font-size: 15px;
}
}