.navbar .theme-button {
    cursor: pointer;
    background-color: #072029;
    padding: 5px;
    display: flex;
    gap: 20px;
    border-radius: 18px;
}

.navbar .theme-button .icon {
    background-color: transparent;
    padding: 5px;
/*     transition: 0.5s; */
}

.navbar .theme-button .iconSun.light,
.navbar .theme-button .iconMoon.dark {
    background-color: #224A59;
    padding: 5px;
    border-radius: 100%;
    transition: 0.2s;
}

.light .navbar {
    background-color: #000;
}

.light .navbar .theme-button {
    background-color: #0339A6;
}

.light .navbar .theme-button .iconSun.light,
.light .navbar .theme-button .iconMoon.dark {
background-color: #000000;
}