.navbar {
    width: 100%;
    padding: 15px;
    background-color: #171B23;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right-side {
    display: flex;
    gap: 3rem;
}

.navbar .right-side ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu {
    display: none;
}

.no-scroll {
    overflow: hidden;
}


.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #232B3B;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    z-index: 100;
}

.dropdown-menu button {
    background: none;
    border: none;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.navbar button{
    cursor: pointer;
}

.dropdown-menu button:hover {
    color: #949494;
    transition: 0.5s;
}

.dropdown:hover .dropdown-menu {
    display: block;
}



@media screen and (max-width:900px) {
    .menu {
        display: initial;
        z-index: 2;
    }

    .navbar .right-side {
        flex-direction: column;
        position: absolute;
        background-color: #171B23;
        top: -100%;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        transition: 0.2s;
    }

    .navbar .right-side.active {
        top: 0;
    }

    .light .navbar .right-side {
        background-color: #000;
    }

    .navbar .right-side ul {
        flex-direction: column;
    }

    .navbar .right-side ul li {
        font-size: 22px;
    }
}