.empresa-content{
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 2rem;
    height: 70vh;
    color: #fff;
}

.light .empresa-content{
    color: #000;
}

.empresa-content .empresa{
    background-color: #232B3B;
    border: solid 1px #3D849F;
    border-radius: 10px;
    width: 950px;
    padding: 3rem;
    margin: 1rem;
}

.light .empresa-content .empresa{
    background-color: #CECECE;
    border: solid 1px #3D849F;
}

.topEmpresa{
    display: flex;
    gap: 3rem;
}

.topEmpresa img{
    width: 120px;
    background-color: #FFF;
}

.topEmpresa .top-right-empresa .texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.topEmpresa .top-right-empresa .texts h1{
    font-size: 28px;
}

.topEmpresa .top-right-empresa .texts h2 {
    font-weight: 400;
    font-size: 17px;
}

.topEmpresa .top-right-empresa .texts h2 span{
    color: #3D849F;
}

.bottomEmpresa .desc-empresa h3{
    font-size: 24px;
    color: #3D849F;
    margin: 1rem 0;
}

.bottomEmpresa .desc-empresa {
    margin: 2rem 0;
}

.bottomEmpresa .desc-empresa ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: inside;
    margin: 1rem;
}

.aceitar-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}

@media screen and (max-width: 820px) {
    .topEmpresa .top-right-empresa .texts h1{
        font-size: 22px;
    }
}

@media screen and (max-width: 625px) {
.topEmpresa{
    flex-direction: column;
}

.empresa-content .empresa{
    padding: 1.2rem;
    margin: 0;
}

    .topEmpresa img{
        width: 80px;
    }

    .topEmpresa .top-right-empresa .texts h1{
        font-size: 18px;
    }

    .topEmpresa{
        gap: 1rem;
    }

    .empresa-content{
        height: 100%;
    }
}

@media screen and (max-width: 516px) {
    .bottomEmpresa .desc-empresa h3{
        font-size: 18px;
    }

    .bottomEmpresa .desc-empresa ul li{
        font-size: 14px;
    }

    .topEmpresa .top-right-empresa .texts h2{
        font-size: 14px;
    }

    .aceitar-empresa{
        margin: 3rem;
    }
}
