.vagas-content{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  flex-wrap: wrap;
}

.tres-vagas{
  height: 100%;
}

.zero-vagas{
  height: 80vh;
}

.vagas-card{
   background-color: #232B3B;
   color: #fff;
   padding: 3rem;
   margin: 1.5rem;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 450px;
   height: 300px;
}

.vagas-card p{
  font-weight: 300;
}

.top-card{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.top-card img{
  background-color: #cacaca;
  width: 100px;
}

.top-card .right-top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .top-card .right-top h2{
 color: #fff;
 font-size: 22px;
 font-weight: 300;
}

.vagas-card  span{
  color: #3D849F;
}

.vagas-card span p{
  color: #fff;
}

.top-card .right-top .info-local{
  display: flex;
  justify-content: space-between;
}

.bottom-card{
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
}

.light .vagas-card{
  background-color: #CECECE;
  color: #333;
}

.light .top-card .right-top h2{
  color: #333;
}

.light .vagas-card  span p{
  color: #333;
}

.sem-vagas{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sem-vagas h2{
  color: #fff;
  font-size: 22px;
}

@media screen and (max-width:1493px){
  .vagas-content{
    height: 100%;
  }

  .zero-vagas{
    height: 80vh;
  }
}

@media screen and (max-width:560px) {

  .top-card img{
    width: 80px;
  }

  .vagas-card{
    height: 230px;
  }

  .top-card .right-top h2{
    font-size: 18px;
  }

  .vagas-card{
    padding: 2rem;
    margin: 1rem;
  }

}

@media screen and (max-width:430px) {
 .vagas-card{
    padding: 1.5rem;
  }

  .top-card .right-top h2{
    font-size: 16px;
  }

  .vagas-card  span,
  .vagas-card  p{
   font-size: 13px;
  }

  .top-card{
    gap: 1rem;
  }
  

  
}






