footer{
    position: absolute;
    width: 100%;
    padding: 20px;
    bottom: 0;
    background-color: #171B23;
    color: #fff;
    text-align: center;
}

.light footer{
    background-color: #000;
}