#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Particles ficam atrás dos outros elementos */
    pointer-events: none; /* Particles não interferem nas interações do usuário */
  }
  
  .signin-container {
    position: relative;
    z-index: 1; /* Elementos do Signin ficam na frente das partículas */
  }


  