.card-empresa{
    display: flex;
    background-color: #232B3B;
    color: #FFF;
    margin: 2rem auto;
    padding: 2rem;
    width: 80vw;
    justify-content: space-between;
    align-items: end;
}
.card-empresa .left-card{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-empresa .left-card img{
    width: 110px;
    background-color: #FFF;
}

.card-empresa .left-card .text-left h2{
    font-size: 25px;
    font-weight: 500;
}

.card-empresa .left-card .text-left p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-empresa .left-card .text-left .b-text{
    color: #3D849F;
}

.card-empresa .right-card {
    text-align: center;
}

.card-empresa .right-card .buttons-aprovar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.card-empresa .right-card .buttons-aprovar button{
    font-size: 25px;
    padding: 5px 6px 3px 6px;
    border-radius: 10px;
    cursor: pointer;
}

.card-empresa .right-card .buttons-aprovar .check{
    border: solid 1px #02b902;
    color: #02b902;
}

.card-empresa .right-card .buttons-aprovar .recuse{
    border: solid 1px #ff0000;
    color: #ff0000;
}

.card-empresa .right-card .buttons-aprovar .check:hover{
    background-color: #02b9023f;
    transition: 0.5s;
}

.card-empresa .right-card .buttons-aprovar .recuse:hover{
    background-color: #ff00003f;
    transition: 0.5s;
}

.sem-empresas{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30vh;
}

.sem-empresas h3{
    color: #FFF;
    font-size: 20px;
}

.light .sem-empresas h3{
    color: #000;
}

.card-empresa{
    background-color: #CECECE !important;
    color: #000 !important;
}

@media screen and (max-width: 750px) {
    .card-empresa{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        width: 400px;
    }
}

@media screen and (max-width: 430px) {
    .card-empresa{
        width: 300px;
    }

    .card-empresa .left-card img{
        width: 90px;
    }
}