/* Importando a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, li, table, th, td, input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul, ol {
  list-style: none;
}


img {
  max-width: 100%;
  height: auto;
}


a {
  text-decoration: none;
  color: inherit;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

html, body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}


body {
  background-image: url('./assets/background/main-background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.container {
  background-image: inherit; 
  background-size: inherit;
  background-position: inherit; 
  min-height: 100vh; 
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171b239f; 
  z-index: -1;
  pointer-events: none;
  transition: 0.5s;
}

.container.light::before{
  background-color: #f2f2f29a;
  transition: 0.5s;
}
